.tree, .tree ul {
	margin:0;
	padding:0;
	list-style:none
}

.tree ul {
	margin-left:.4rem;
	position:relative
}

.tree ul:before {
	content:"";
	display:block;
	width:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	border-left:1px solid rgba(0,0,0,.5);
}

.tree li > ul li {
	margin:0;
	padding:0 0 0 12px;
	line-height:1.5rem;
	font-weight:400;
	position:relative
}

.tree ul li:before {
	content:"";
	display:block;
	width:10px;
	height:0;
	border-top:1px solid rgba(0,0,0,.5);
	margin-top:-1px;
	position:absolute;
	top:0.75rem;
	left:0
}

.tree ul li:last-child:before {
	background:#fff;
	height:auto;
	top:0.75rem;
	bottom:0
}

.tree .indicator {
	margin-right:0px;
	cursor: pointer;
	color: rgba(0,0,0,.5);
}

.tree li a {
	text-decoration: none;
}

.tree li button, .tree li button:active, .tree li button:focus {
	text-decoration: none;
	border:none;
	background:transparent;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	outline: 0;
}

.tree .active {
	font-weight: bold;
}